.intro{
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 2px solid #fff;
	border-top: 0;
	.btns{
		position: relative;
		margin-top: 9rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 18.5vh;
		
		a{
			text-decoration: none;
			padding: 70px 166px;
			max-width: 32vw;
			font-size: 2.4rem;
			border: 2px solid #fff;
			transition: transform 0.3s ease-in-out;

			&:hover{
				transform: scale(.95);
				cursor: pointer;
			}
		}

		.scores__btn {
			padding: 42px 59px;
			max-width: 19vw;
			margin-top: 3.5rem;
			font-size: 1.2rem;

		}
	}
	
	img{
		position: absolute;
		transition: .3s ease-in-out;
		border-radius: 15px;

		&:hover{
			transform: scale(0.95);
		}
	}

	.spaceship{
		width: 9vw;
		top: 50%;
		left: 70%;
		transform: rotate(-10deg);
	}

	.alien__1 {
		width: 4vw;
		top: 55%;
		left: 10%;
		transform: rotate(-15deg);
	}

	.alien__2 {
		width: 5vw;
		top: 30%;
		left: 25%;
		transform: rotate(18deg);
	}

	.alien__3 {
		width: 5vw;
		top: 80%;
		right: 10%;
		transform: rotate(18deg);
	}

	.alien__4 {
		width: 5vw;
		top: 80%;
		left: 30%;
		transform: rotate(25deg);
	}

	.alien__5 {
		width: 5vw;
		top: 30%;
		right: 10%;
		transform: rotate(-18deg);
	}

}
